[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=icon_fix
X-Python-2-Compatible=false
Name=Icon Fix
Comment=Fixes missing icons in Krita on Windows and non-KDE environments
